#about {
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
}

#img-info {
    display: flex;
    justify-content: center;
    border-radius: 1.2rem;
    overflow: hidden;
    border: 0.1rem solid #CC005F;
    width: 83vw;
}

#about-img {
    width: 22vw;
}

#detail-box {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1.5rem;
}

#detail-box p {
    font-family: "Nunito", sans-serif;
}

#detail-box h3 {
    color: #CC005F;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.2rem;
}

#detail-box h3 span,
a {
    color: grey;
}

#detail-box a:hover {
    color: black;
}
@media (max-width: 768px) {
    #img-info {
        flex-direction: column;
        width: 90vw;
    }
    #about-img {
        width: 100vw;
    }
    #detail-box {
        padding: 1rem; /* Less padding on mobile */
    }

    #detail-box h3 {
        font-size: 1rem; /* Adjust font size for mobile */
    }

    #detail-box p {
        font-size: 1rem; /* Adjust paragraph text size */
    }
}