#certi-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#certifications {
    padding: 2rem;
    place-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 3rem;
    column-gap: 2rem;
}

.ceti-img {
    height: 17rem;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    cursor: pointer;
}
.ceti-img:hover {

    transform: scale(1.05);
}
@media (max-width: 768px) {
    #certi-div{
        margin-top: 1rem
    }
    #certifications {
    
        grid-template-columns: 1fr;
        row-gap: 1.5rem;
    }
    .ceti-img {
        height: auto;
        width: 90vw;
        max-width: 100%;
    }
}