#social-handles{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem;
    background-color: #f4f4f9;
}
#social-box{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.icon-link{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-icons{
    transition: transform 0.2s ease-in-out;
    margin: 1rem;
}
.social-icons:hover{
    transform: scale(1.2);
}
.icon-names{
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;;
}
.icon-names:hover{
    color: #CC005F;
}
@media (max-width: 768px) {
    .headings{
        font-size: 2rem;
    }
    #social-handles {
        padding: 1rem 1rem;
    }

    #social-box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .icon-link {
        margin-bottom: 1.5rem;
    }

    .social-icons {
        width: 40px;
        height: 40px;
    }

    .icon-names {
        font-size: 1rem;
    }
}